
/*====Project Information====*/
.project-intro {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
    font-family: 'avenir next';
}

.project-intro.personal-kanban-intro {
    justify-content: space-between;
    margin: 2rem 2rem;
}

.project-txt p:nth-of-type(1) {
    color:black;
    font-size: 22px;
}


.project-txt p:nth-of-type(2) {
    color: #9A9A9A;
}

.project-stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-progress {
    margin-right: 2.4rem;
}

.progress-bar {
    height: 8px;
    width: 10rem;
    background-color: #F5F5F5;
    border-radius: 10px;
}

.progress-bar-inner {
    height: 8px;
    width: 75%;
    background-color: #ADDA9D;
    border-radius: 10px;
}

.progress-txt {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vertical-bar {
    height: 2.4rem;
    background-color: #C0C1C2;
    width: 2px;
}

.project-team {
    display: flex;
    align-items: center;
    margin-left: 2.4rem;
}

.user {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #F5F5F5;
    border: 1px solid black;
    position: relative;
    z-index: 1;
    margin-left: -8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user:nth-child(1) {
    background-color: rgb(159, 100, 143);
}

.user:nth-child(2) {
    z-index: 2;
    background-color: rgb(100, 100, 159);
}
.user:nth-child(3) {
    z-index: 3;
    background-color: rgb(159, 100, 100);
}

.user:nth-child(4) {
    z-index: 4;
    background-color: rgb(134, 159, 100);
}

.user:nth-child(5) {
    z-index: 5;
}

.projects-intro-buttons {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.all-projects-btn, .add-task-btn, .filter-task-btn {
    padding: 0.8rem 0.8rem;
    border-radius: 10.5px;
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-task-btn i {
    margin: 0;
}

.all-projects-btn i, .add-task-btn i  {
    color: white;
    margin-right: 0.6rem;
}

.project-intro .kanban-separator {
    display: none;
}

/*====Kanban Board====*/
.kanban-board {
    margin: 3rem auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    font-family: 'avenir next';
}

/*Column*/
.kanban-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
    width: 50%;
}


.kanban-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    border-radius: 15px 15px 0 0;
    padding: 1rem;
    width: 85%;
    font-size: 18px;
}

.kanban-header i {
    display: none;
}

.kanban-body {
    background-color: #F5F5F5;
    width: 85%;
    height: 64dvh;
    border-radius: 0 0 30px 30px;
    overflow-y: scroll;
}

/*Task Card*/
.kanban-card {
    background-color: white;
    border-radius: 25px;
    margin: 0.8rem;
    padding: 1rem 1.2rem;
}

.kanban-card-top {
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.kanban-card-top i:nth-of-type(2) {
    display: none;
}

.kanban-card-top i:nth-of-type(1) {
    display: block;
}


.kanban-card-top p {
    font-size: 16px;
}

.kanban-separator {
    height: 2px;
    width: 100%;
    background-color: #D8D8D8;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

.kanban-card-description {
    color: #353535;
    font-size: 14px;
}

.kanban-card-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
}

.kanban-card-bottom a {
    background-color: #F5F5F5;
    color: black;
    padding: 0.4rem 1rem;
    border-radius: 15px;
    white-space: nowrap;
}

.due-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #BAB7B7;
    background-color: transparent;
    padding: 0.4rem 1rem;
    border-radius: 15px;
    white-space: nowrap;
}

.due-date i {
    margin-right: 4px;
}


/*====Draggable Cards==*/
.dragging {
    border: 1px solid black;
    opacity: 0.9;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: move;
    color: transparent;
}

.overlay {
    background-color: grey;
    text-indent: -9999px;
}

/*====Add Task Modal====*/
.kanban-modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 100%;
    background:  rgba(0,0,0,0.5);
}

.kanban-modal-box {
    margin: 10% auto;
    width: 40%;
    background: white;
    color: black;
    position: relative;
    animation: openmodal 0.4s;
    border-radius: 30px;
}

@keyframes openmodal {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

/*modal header*/
.kanban-modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;

    padding: 1.2rem 1rem 1rem 1rem;
    border-radius: 15px 15px 0 0;
    margin: 0.6rem 1rem 1rem 1rem;
    border-bottom: 1px solid black;
}

.kanban-modal-header i {
    font-size: 14px;
    cursor: pointer;
}

.kanban-close-modal-btn {
    color: white; 
    background-color: black;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*modal body*/
.kanban-modal form {
    padding: 0.2rem 2rem 1rem 2rem;
}

label {
    margin-bottom: 0.2rem;
}

/*each section is flexbox*/
.task-title-form, .task-description-form, .task-upload-form, .task-dropdown {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 1.4rem;
    font-size: 14px;
}

.task-dropdowns-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*styles - text box and file*/
.kanban-modal form input[type="text"], .kanban-modal form textarea, .kanban-modal input[type="file"] {
    width: 100%;
    padding: 0.4rem 0.6rem;
    border: 2px solid #e1e1e1;
    box-shadow: none;
    outline: none;
    border-radius: 5px;
}

.kanban-modal  form textarea {
    height: 6rem;
    resize: none;
}

/*styles - custom file boxes*/
.kanban-modal  input[type="file"] {
    height: 6rem;
    border: 2px #e1e1e1 dashed;
}

input[type="file"]::-webkit-file-upload-button {
    appearance: none; 
    background-color: black; 
    color: white;              
    border: none;
    padding: 0.4rem 0.4rem;          
    border-radius: 4px;         
    cursor: pointer;
    font-size: 12px;
}

/*styles - dropdowns and date*/
.task-dropdown select, .task-dropdown input[type="date"]  {
    width: 100%;
    padding: 0.4rem 0.6rem;
    border: 2px solid #e1e1e1;
    box-shadow: none;
    outline: none;
    border-radius: 0 5px 5px 0;
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    height: 40px;
}

/*add icons next to dropdown*/
.task-dropdown-select-options {
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-dropdown-select-options i {
    padding: 0.4rem 0;
    width: 34px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 5px 0 0 5px;
}

/*Focus states*/
.kanban-modal  form input[type="text"]:focus, .kanban-modal form textarea:focus, .task-dropdown select:focus {
    border: 2px solid black;
}

.kanban-modal form input[type="file"]:focus {
    border: 2px dashed black;
}

.task-submit-buttons .add-task-btn {
    margin: 0.2rem 2rem 2rem 2rem;
}

.task-submit-buttons .add-task-btn i {
    margin-left: 0.4rem;
}




/*====Responsiveness====*/
@media  (max-width: 1280px) {
    .project-intro {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 3rem;
    }

    .vertical-bar {
        display: none;
    }

    .project-stats {
        margin-top: 1.4rem;
        margin-bottom: 1.4rem;
    }
}

@media  (max-width: 1120px) {

    .kanban-card-body, .kanban-body {
        display: none;
    }

    .kanban-board {
        flex-direction: column;
    }

    .kanban-section {
        width: 100%;
        margin-bottom: 2rem;
    }

    .kanban-header {
        border-radius: 15px;
    }

    .kanban-card-body.open,.kanban-body.open, .kanban-header i, .kanban-card-top i:nth-of-type(2) {
        display: block;
    }

    .kanban-body.open .kanban-header {
        border-radius: 15px 15px 0 0;
    }

    .kanban-modal-box {
        width: 60%;
    }
}

@media  (max-width: 700px) {
    .project-stats {
        flex-direction: column;
        align-items: flex-start;
    }

    .project-team {
        margin-left: 8px; 
        margin-top: 1.4rem;
    }

    .project-intro .kanban-separator {
        display: block;
        margin-top: 2.5rem;
    }
    
    .kanban-board {
        margin: 2.5rem auto;
    }

    .kanban-modal-box {
        width: 95%;
    }
}


