.header-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    padding-bottom: 20px;
}

.form-btns {
    background-color: #F5F5F5;
    padding: 0.5rem;
    white-space: nowrap;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
}

.form-btns button{
    border: none;
    font-family: "Avenir Next";
    background-color: transparent;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.5s color ease, 0.5s background-color ease;
    padding: 0.5rem;
}
.form-btns button:hover{
    background-color: black;
    color: white;
}

.form-btns button.active {
    background-color: black;
    color: white;
}

.kb-createpost {
    display: flex;
    flex-direction: row;
    height: 3em;
    background-color: #F5F5F5;
    width: 100%;
    border-radius: 30px;
    border: 0px;
    padding: 10px;
}

.kb-createpost input {
    background-color: transparent;
    border-radius: 30px;
    font-size: 1em;
    padding: 15px;
    width: 100%;
    border: 0px;
}

.kb-createpost button {
    background-color: transparent;
    border-radius: 30px;
    padding: 5px;
    cursor: pointer;
    border: 0px;
}

.kb-listing {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.kb-posts {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: scroll;
    flex-direction: column;
    margin: 10px 0 10px 0;
}

.kb-post {
    padding: 20px;
    background-color: #F5F5F5;
    border-radius: 30px;
    margin: 10px 0 10px 0;
}

.kb-post-content {
    font-family: "Avenir Next";
    padding: 10px;
}

.kb-post-divider {
    background-color: #8E8E91;
    height: 1px;
    width: 100%;
}

.kb-post-avatar {
    background-color: #FFFFFF;
    border-radius: 50%;
    border: 2px solid #8E8E91;
    width: 30px;
    height: 30px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kb-post-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.kb-post-topic {
    font-family: "Avenir Next";
    font-size: small;
}

.kb-title {
    font-family: "DIN Alternate Bold";
}

.kb-post-title {
    font-family: "DIN Alternate Bold";
}

.kb-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 30px;
}

.kb-main {
    border-radius: 10px;
    width: 100%;
    min-height: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.kb-sidebar {
    width: 300px;
    height: min-content;
    padding: 15px;
    background-color: #F5F5F5;
    border-radius: 30px;
    margin-left: 20px;
}

.kb-sidebar-title {
    font-family: "DIN Alternate Bold";
    text-align: center;
}

.kb-topic {
    font-family: "Avenir Next";
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

