
#wrapper{
    display: flex;
    flex-direction: row;
}

#wrapper div{
    background-color: #ffffff;
    border-radius: 30px;
    font-family: "DIN Alternate Bold";
}

#projectList{
    width: 20rem;
}

#projectDetails{
    width: 40rem;
    margin-left: 5rem;
}