
/*------------General styling------------*/
#mdGrid{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
    'projects info members'
    'progress contribution contribution';
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: 49% 49%;
    gap: 2%;
}

#mdGrid > div{
    font-family: "DIN Alternate Bold";
    background-color: #ffffff;
    border-radius: 30px;
    padding: 2rem;
}

#mdGrid p{
    font-family: "Avenir Next";
}

.mdListContainer{
    margin-top: 1rem;
    max-height: 85%;
    overflow-y: auto;
}

.mdListContainer .mdActive{
    background-color: black;
    color: white;
}

.mdListItem{
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 10.5px;
    margin-top: 0.5rem; 
    padding-inline: 1rem;
}

.mdListItem div{
    display: flex;
    align-items: center;
}

.mdGreen{
    color: #adda9d;
}

.mdYellow{
    color: #e9b385;
}

.mdRed{
    color: #e38c88;
}

.mdGrey{
    color: #c1c1c1;
}

/*------------Project list styling------------*/
#mdProjectListBox{
    grid-area: projects;
}

/*------------Project info styling------------*/
#mdProjectInfoBox {
    grid-area: info;
    display: flex;
}
#mdInfoContainer{
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    border-radius: 30px;
    margin-block: 1rem;
    padding: 1.5rem;
    height: 80%;
    justify-content: space-between;
}

#mdInfoContainer > h3{
    font-family: 'Avenir Next';
}

/*------------Project progress styling------------*/
#mdProjectProgressBox{
    grid-area: progress;
    position: relative;
}

#mdProgressPercentage{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -55%)
}

#mdProgressChartContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
    margin-top: 2rem;
}

#mdProgressChartLegend{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 1rem;
}

.mdLegendItem{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mdLegendItem p{
    font-size: small;
}

.mdLegendCounter{
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.mdLegendCounter h1{
    margin-left: 0.2rem;
}


/*------------Project members styling------------*/
#mdProjectMembersBox{
    grid-area: members;
}

#mdMemberList .mdListItem h4{
    padding-inline: 0.3rem;
}

.user{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #F5F5F5;
    border: 1px solid black;
    margin-left: -8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*------------Member contribution styling------------*/
#mdProjectContributionBox{
    grid-area: contribution;
    display: flex;
    flex-direction: column;
}

#mdContributionGraphContainer{
    display: flex;
    align-self: center;
    padding-top: 0.5rem;
    width: fit-content;
    height: 95%;
}

@media (max-width: 768px) {
    #mdGrid {
        grid-template-areas:
            'projects'
            'info'
            'progress'
            'members'
            'contribution';
        grid-template-columns: 100%;
        grid-template-rows: auto;
        gap: 0.5rem;
    }
}
