* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

select {
    /* Remove default styling in firefox */
    background-color: #ffffff;
}

img {
    width: 100%;
}

:root {
    /*Shades of gray*/
    --light-gray-bg: #F5F5F5;
    --light-gray-txt: #9A9A9A;
    --medium-gray: #8E8E91;
    --dark-gray: #414141;

    /*Top navbar colour*/
    --top-nav-col: #FFDD77;

    /*Border Radius*/
    --b-radius-lg: 30px;
    --b-radius-md: 10.5px;
    --b-radius-sm: 4px;

    /*Font Sizes - to iterate with */
    --section-title: 22px;
    --section-description: 12px;
    --section-inner-containers: 18px;
    
    /*Pastel Colours*/
    --red: #E6757E;
    --green: #ADDA9D;
    --orange: #EAB385;
    --blue: #9DBCDA;
    --purple: #C09DDA;
    --turquoise: #9DDAD9;
    --pink: #DA9DD4;
    --yellow: #DAD59D;
    --bright-gold: #FFCE22;

    --dark-green: #04545E; 
    --dark-purple: #3D0670;

}

.black-btn {
    transition: all 0.4s ease;
    background-color: black;
    cursor: pointer;
}

.black-btn:hover {
    background-color: #414141;
    color: white;
}

.white-btn {
    transition: all 0.4s ease;
    background-color: white;
    color: black;
    cursor: pointer;
}

.white-btn:hover {
    background-color: #F5F5F5;
}


/* Scrollbar styling - does not affect Firefox or Internet Explorer */

::-webkit-scrollbar {
    background-color: transparent;
    border-radius: 1rem;
    width: 1.3rem;
}

::-webkit-scrollbar-track {
    border-radius: 1rem;
    background-color: #cdcdcd;
    border: 0.4rem solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb {
    background-color: #6d6d6d;
    border-radius: 1rem;
    border: 0.4rem solid transparent;
    background-clip: content-box;
}