
/*====Project Information====*/
.kanban-content {
    display: flex;
    flex-direction: column;

}   

.project-intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    font-family: 'avenir next';
}

.project-intro.personal-kanban-intro {
    justify-content: space-between;
    margin: 2rem 2rem;
}

.project-txt p:nth-of-type(1) {
    color:black;
    font-size: 22px;
}


.project-txt p:nth-of-type(2) {
    color: #9A9A9A;
}

.project-stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-progress {
    margin-right: 2.4rem;
}

.progress-bar {
    height: 8px;
    width: 10rem;
    background-color: #F5F5F5;
    border-radius: 10px;
}

.progress-bar-inner {
    height: 8px;
    width: 75%;
    background-color: #ADDA9D;
    border-radius: 10px;
}

.progress-txt {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vertical-bar {
    height: 2.4rem;
    background-color: #C0C1C2;
    width: 2px;
}

.project-team {
    display: flex;
    align-items: center;
    margin-left: 2.4rem;
}

.user {
    height: 30px;
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #F5F5F5;
    border: 1px solid black;
    position: relative;
    z-index: 1;
    margin-left: -8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user:nth-child(1) {
    background-color: var(--blue);
}

.user:nth-child(2) {
    z-index: 2;
    background-color: rgb(100, 100, 159);
}
.user:nth-child(3) {
    z-index: 3;
    background-color: rgb(159, 100, 100);
}

.user:nth-child(4) {
    z-index: 4;
    background-color: rgb(134, 159, 100);
}

.user:nth-child(5) {
    z-index: 5;
}

.projects-intro-buttons {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.all-projects-btn, .add-task-btn, .filter-task-btn {
    padding: 0.8rem 0.8rem;
    border-radius: 10.5px;
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-task-btn i {
    margin: 0;
    margin-left: 0.4rem;
}

.all-projects-btn i, .add-task-btn i  {
    color: white;
    margin-right: 0.6rem;
}

.project-intro .kanban-separator {
    display: none;
}

/*====Kanban Board====*/
.kanban-board {
    margin: 1.4rem auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    font-family: 'avenir next';
}

/*Column*/
.kanban-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    height: 100%;   
    width: 50%;
}

/* Tooltip container */
.tooltip {
    position: relative; /* Required for positioning the tooltip */
    display: inline-block;
    cursor: pointer;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1000;
    bottom: 150%; /* Position above the element */
    left: 80%;
    transform: translateX(-20%);
    opacity: 0;
    transition: opacity 0.3s;
}

/* Show the tooltip text when hovering over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}





.kanban-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    border-radius: 15px 15px 0 0;
    padding: 1rem;
    width: 85%;
    font-size: 18px;
}

.kanban-header i {
    display: none;
}

.kanban-body {
    background-color: #F5F5F5;
    width: 85%;
    height: 64dvh;
    border-radius: 0 0 30px 30px;
    overflow-y: scroll;
 
}

/*Task Card*/
.kanban-card {
    background-color: white;
    border-radius: 25px;
    margin: 0.8rem;
    padding: 1rem 1.2rem;
}


.kanban-card-top {
    display: flex;

    justify-content: space-between;
    flex-direction: column-reverse;
    margin-bottom: 1rem;
}

.kanban-card-top-details {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.kanban-card-top-details i {
    display: none;
}


.kanban-card-top p {
    align-self: flex-start;
}

.kanban-card-top-details p {
    text-align: left;
}


.kanban-card-top .kanban-card-priority {
    align-self: flex-start;
    margin-bottom: 10px;
}


.kanban-card-top p {
    font-size: 16px;
    flex-grow: 1;
}

.kanban-card-top .fa-caret-down {
    display: none;
}

.kanban-separator {
    height: 2px;
    width: 100%;
    background-color: #D8D8D8;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

.kanban-card-description {
    color: #353535;
    font-size: 14px;
}

.kanban-card-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
}

.kanban-card-bottom a {
    background-color: #F5F5F5;
    color: #656565;
    padding: 0.4rem 1rem;
    border-radius: 15px;
    white-space: nowrap;
}

.due-date {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0.4rem 1rem;
    border-radius: 15px;
    white-space: nowrap;
}

.due-date i {
    margin-right: 4px;
}

.kanban-card-priority {
    padding: 0.1rem 0.6rem;
    border-radius: 0.8rem;
    color: white;
    font-size: 13.5px;
}

.emp-grid-item-content .kanban-card-priority {
    margin-right: 10px;
}

.kanban-card-priority.high-priority, .priority-box.high-priority, .status-box.status-to-do-box {
    background-color: #ffcdd2;
    color: #c62828;
}

.kanban-card-priority.medium-priority, .priority-box.medium-priority, .status-box.status-in-progress-box {
    background-color:  #fff0c2;
    color: #947c01;
}

.kanban-card-priority.low-priority, .priority-box.low-priority, .status-box.status-completed-box {
    background-color: #c8e6c9;
    color: #388e3c;
}

.kanban-card-priority.none-priority {
    background-color: #9A9A9A;
}

.priority-box .task-indicator-circle.high-priority, .task-indicator-circle.status-to-do-box {
    background-color: red;
}

.priority-box .task-indicator-circle.medium-priority, .task-indicator-circle.status-in-progress-box {
    background-color: orange;
}

.priority-box .task-indicator-circle.low-priority, .task-indicator-circle.status-completed-box {
    background-color: green;
}






/*====Draggable Cards==*/
.dragging {
    border: 1px solid black;
    opacity: 0.9;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: move;
}

.overlay {
    border: 2px solid darkgrey;
    background-color: grey; /* Set the background color to grey */
    min-height: 10rem;
    min-width: 6rem;
}

.overlay .button,
.overlay .kanban-card-bottom,
.overlay .kanban-card-top,
.overlay .kanban-card-description,
.overlay .kanban-card-priority,
.overlay .kanban-card-body,
.overlay p {
    display: none;
}


/*====Add Task Modal====*/
.modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 100%;
    background:  rgba(0,0,0,0.5);
}

.modal-box {
    margin: 10% auto;
    width: 40%;
    background: white;
    color: black;
    position: relative;
    animation: openmodal 0.4s;
    border-radius: 30px;
}

@keyframes openmodal {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

/*modal header*/
.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;

    padding: 1.2rem 1rem 1rem 1rem;
    border-radius: 15px 15px 0 0;
    margin: 0.6rem 1rem 1rem 1rem;
    border-bottom: 1px solid black;
}

.modal-header i {
    font-size: 14px;
    cursor: pointer;
}

.close-modal-btn {
    color: white; 
    background-color: black;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*modal body*/
.modal .modal-body {
    padding: 0.2rem 2rem 4rem 2rem;
}

label {
    margin-bottom: 0.2rem;
}

/*each section is flexbox*/
.task-title-form, .task-description-form, .task-upload-form, .task-dropdown {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 1.4rem;
    font-size: 14px;
}

.task-dropdowns-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*styles - text box and file*/
.modal .modal-body input[type="text"], .modal .modal-body textarea, .modal input[type="file"] {
    width: 100%;
    padding: 0.4rem 0.6rem;
    border: 2px solid #e1e1e1;
    box-shadow: none;
    outline: none;
    border-radius: 5px;
}

.modal  .modal-body textarea {
    height: 6rem;
    resize: none;
}

/*styles - custom file boxes*/
.modal  input[type="file"] {
    height: 6rem;
    border: 2px #e1e1e1 dashed;
}

input[type="file"]::-webkit-file-upload-button {
    appearance: none; 
    background-color: black; 
    color: white;              
    border: none;
    padding: 0.4rem 0.4rem;          
    border-radius: 4px;         
    cursor: pointer;
    font-size: 12px;
}

/*styles - dropdowns and date*/
.task-dropdown select, input[type="date"], .move-task-dropdown select, .order-by-dropdown select, #team-leader-dropdown, #kb-new-post-topic-input, #task-user-dropdown {
    width: 100%;
    padding: 0.4rem 0.6rem;
    border: 2px solid #e1e1e1;
    box-shadow: none;
    outline: none;
    border-radius: 0 5px 5px 0;
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    height: 40px;
}

.order-by-dropdown select {
    border-radius: 10.5px 0 0 10.5px;
    height: 45px;
}

.move-task-dropdown select {
    border-radius: 5px 0 0 5px;
}

/*add icons next to dropdown*/
.task-dropdown-select-options, .move-task-dropdown select option, .order-by-dropdown select option {
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-dropdown-select-options i {
    padding: 0.4rem 0;
    width: 34px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 5px 0 0 5px;
}




/*Focus states*/
.modal  form input[type="text"]:focus, .modal form textarea:focus, .task-dropdown select:focus {
    border: 2px solid black;
}

.modal form input[type="file"]:focus {
    border: 2px dashed black;
}

.task-submit-buttons .add-task-btn {
    margin: 0.2rem 2rem 2rem 2rem;
}

.task-submit-buttons .add-task-btn i, .task-submit-buttons #add-filter-btn i, .task-submit-buttons #add-project-btn i, .report-task-modal .report-task-db i {
    margin-left: 0.4rem;
}

.task-submit-buttons #add-filter-btn, .task-submit-buttons #add-project-btn, .report-task-db, .personal-delete-task, #delete-personal-task-confirm, #cancel-delete-task-btn, #delete-project-task-confirm  {
    width: 60%;
    margin: 1rem auto;
    padding: 0.8rem 0.8rem;
    border-radius: 10.5px;
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.report-task-modal .modal-body {
    padding: 0.2rem 2rem 1rem 2rem;
}

.report-task-modal .task-submit-buttons {
    display: flex;
    justify-content: flex-end;
}

.report-task-modal .report-task-db, .personal-delete-task, #delete-personal-task-confirm, #delete-project-task-confirm  {
    margin: 1rem 1rem 1rem 1rem;
    width: 30%;
    background-color: #f98a93;
    color: black;
}

.personal-delete-task, #delete-personal-task-confirm, #delete-project-task-confirm   {
    color: white !important;
}

.personal-delete-task i, #delete-personal-task-confirm i, #cancel-delete-task-btn  i, #delete-project-task-confirm i {
    margin-right: 5px;
}

#delete-personal-task-confirm, #cancel-delete-task-btn, #delete-project-task-confirm   {
    flex: 1;
} 

.task-delete-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin:0 auto;
}
/*===View Task Modal ===*/


.view-task-modal .modal-task-description {
    margin-bottom: 1.2rem;
}

.modal-task-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.modal-task-info:nth-of-type(1) {
    margin-bottom: 1rem;
}

.modal-task-info .modal-task-info-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.modal-task-info .modal-task-info-section-top {
    width: 85%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 1rem;
}


.modal-task-info .modal-task-info-section-top .task-modal-title {
    font-weight: 450;
}

.modal-task-info .modal-task-info-section-top .status-box,
.modal-task-info .modal-task-info-section-top .priority-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    white-space: nowrap;
}

.status-box {
    padding: 0.1rem 1rem;
    border-radius: 4px;
}

.priority-box {
    padding: 0.1rem 1rem;
    border-radius: 4px;
}


.status-box .task-indicator-circle, .priority-box .task-indicator-circle {
    margin-right: 0.8rem;
}

.modal-task-info .modal-task-info-section .modal-task-info-section-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem 0.2rem;
    gap: 10px;
    background-color: black;
    color: white;
    border-radius: 0.8rem 0.8rem 0 0;
    border: 1px solid transparent;
    width: 85%;
    white-space: nowrap;
}

.modal-task-info .modal-task-info-section .modal-task-info-section-body {
    padding: 0.3rem 0.2rem;
    border: 1px solid black;
    width: 85%;
    text-align: center;
    border-radius: 0 0 0.8rem 0.8rem;
}

.modal-task-due-date {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.task-indicator-circle {
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.modal-task-attachments {
    margin-top: 1rem;
}

.modal-task-attachments-box {
    width: 100%;
    height: 4rem;
    border: 1px dashed black;
    border-radius: 4px;
}

.modal-task-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    gap: 0.4rem;
    text-align: center;
}

.delete-task {
    background-color: gray;
    color: white; 
    border-radius: 4px;
    padding: 0.6rem 0.8rem;
    flex-grow: 1;
}


.move-task {
    background-color: black;
    color: white; 
    border-radius: 4px;
    padding: 0.6rem 0.8rem;
    flex-grow: 2;
}

.report-task {
    background-color: #f98a93;
    color: black; 
    border-radius: 5px;
    padding: 0.6rem 0.8rem;
    flex-grow: 1;
    cursor: pointer;
}

.report-task:hover {
    background-color: #E6757E;
    transition: all 0.2s ease-in-out; 
}

.right-arrow, .left-arrow {
    background-color: black;
    color: white; 
    border-radius: 4px;
    padding: 0.6rem 0.8rem;
}




/*====Responsiveness====*/
@media  (max-width: 1280px) {
    .project-intro {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 3rem;
    }

    .vertical-bar {
        display: none;
    }

    .project-stats {
        margin-top: 1.4rem;
        margin-bottom: 1.4rem;
    }


    .kanban-card-bottom {
        flex-direction: column-reverse;

    }

    .kanban-card-bottom a {
        margin-top: 10px;
        width: 100%;
        text-align: center;
    }
}

@media  (max-width: 1120px) {
    #kanban-content {
        min-height: 100dvh;
    }

    .kanban-card-body, .kanban-body {
        display: none;
        cursor: pointer;
    }

    .kanban-board {
        flex-direction: column;
    }

    .kanban-section {
        width: 100%;
        margin-bottom: 2rem;
    }

    .kanban-header {
        border-radius: 15px;
    }

    .kanban-card-body.open,.kanban-body.open, .kanban-header i, .kanban-card-top i:nth-of-type(1) {
        display: block;
    }

    .kanban-body.open .kanban-header {
        border-radius: 15px 15px 0 0;
    }

    .modal-box {
        width: 60%;
    }

    .kanban-card-bottom {
        flex-direction: row;

    }

    .kanban-card-bottom a {
        margin-top: 0;
        width: inherit;
        text-align: center;
    }

    .kanban-card-top-details {
        width: 100%;
    }
    
    .kanban-card-top-details i {
        display: block;
    }
}

@media  (max-width: 700px) {
    .project-stats {
        flex-direction: column;
        align-items: flex-start;
    }

    .project-team {
        margin-left: 8px; 
        margin-top: 1.4rem;
    }

    .project-intro .kanban-separator {
        display: block;
        margin-top: 2.5rem;
    }
    
    .kanban-board {
        margin: 2.5rem auto;
    }

    .modal-box {
        width: 95%;
    }
}



.move-task-dropdown, .order-by-dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
}


.move-task-confirm, .order-by-confirm  {
    background-color: black;
    color: white; 
    white-space: nowrap;
    font-size: 15px;
}

.move-task-confirm {
    padding: 0.6rem 0.8rem;
    border-radius: 0 5px 5px 0;
}

.projects-intro-buttons .order-by-confirm {
    padding: 0.8rem 0.8rem;
    border-radius: 0 10.5px 10.5px 0;
}


.task-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #F5F5F5;
    border-radius: 15px;
    padding-left: 10px;
    border: 0px;
    width: 60%;
    margin-left: 30px;
    margin-top: 1.4rem;

}

.task-search input {
    background-color: transparent;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: var(--line-border-radius);
    cursor: pointer;

    padding: 10px;
    background-color: var(--bg-colour);
    color: var(--primary-colour);
    font-size: 14px;
}

.search-task-error-msg {
    display: none;
    margin-top: 20px;
    margin-left: 20px;
}

.task-search-container {
    display: flex;
    align-items: center;
}

.filter-applied-container {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    gap: 12px;
}

.filter-applied-msg {
    display: none;
    margin-top: 13px;
    margin-left: 40px;
}

.remove-filters-btn {
    background-color: #f5f5f5;
    color: rgb(93, 93, 93);
    padding: 0.2rem 0.4rem;
    border-radius: 5px;
    display: none;
    align-items: center;
    justify-content: center;
}



