/* Created by Toby Tischler 09/02/2025 */
/* Updated By Toby Tischler 12/02/2025 */

/*--------------------- Project Statistics CSS ---------------------*/

/* Header */
#prjStHeader {
    display: flex;
    justify-content: space-between;
}

/* Grid container */
#prjStGrid {
    display: grid;
    grid-template-areas:
    'prevweek members'
    'burnup burnup';
    width: 100%;
    height: 100%;
}

/* Burnup chart */
#prjStBurnupChartBox {
    grid-area: burnup;
}