/* Created by Toby Tischler 09/02/2025 */
/* Updated By Toby Tischler 16/02/2025 */

/*--------------------- Project Statistics CSS ---------------------*/

#prjStContainer {
    display: flex;
    gap: 15px;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

/* HEADER AND HEADER CONTENT */

/* Main header */
#prjStHeader {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 15px;
    flex-direction: row;
    align-items: stretch;
    justify-content: start;
}

#prjStHeaderInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100%;
    width: 100%;
}

#prjStTitle {
    font-size: 1.5rem;
    padding-bottom: 10px;
    font-weight: bold;
}

#prjStTaskDialContainer, #pjStHeaderInfoContainer {
    display: flex;
    padding: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--light-gray-bg);
    border-radius: var(--b-radius-lg);
}

#pjStHeaderInfoContainer {
    padding: 40px;
}

#prjStTaskDialDisplay {
    width: 300px;
}


/* Task dial */
#prjStTaskDialDisplay {
    padding: 10px;
    position: relative;
    overflow-y: hidden;
}

#prjStTaskDialPercentage {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -55%)
}

#prjStTaskDialChartBox {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
    margin-top: 2rem;
}

#prjStTaskDialLegend {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 1rem;
}

.prjStTaskDialLegendItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prjStTaskDialLegendItem p {
    font-size: small;
}

.prjStTaskDialLegendCounter {
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.prjStTaskDialLegendCounter h3 {
    margin-left: 0.2rem;
}

.prjStG{
    color: var(--green);
}

.prjStY{
    color: var(--orange);
}

.prjStGray{
    color: var(--medium-gray);
}



/* GRID AND GRID CONTENT */

/* Main grid */
#prjStGrid {
    display: flex;
    height: 300px;
    gap: 15px;
    width: 100%;
    flex-direction: row;
    grid-template-areas:
    'burnup prevweek'
    'members members';
    grid-template-columns: 50%;
    grid-template-rows: max-content;
    gap: 1rem;
}

.prjStGridCells {
    background-color: var(--light-gray-bg);
    border-radius: var(--b-radius-lg);
    padding: 1rem;
}

.prjStGridChartBox {
    width: 100%;
    height: 100%;
    padding-inline: 0.5rem;
}


/* Member list */
#prjStMembersCell {
    grid-area: members;
}

#prjStMembersList table {
    width: 80%;
    border-collapse: collapse;
}

#prjStMembersList td {
    padding: 10px;
}

#prjStMembersList tbody tr:hover {
    background-color: var(--medium-gray);
    cursor: pointer;
}

#prjStMembersLeaderRow {
    display: flex;
}

.fa-stack .fa-circle {
    color: black;
}

.fa-stack .fa-crown {
    color: var(--orange);
}

.fa-stack.small-stack {
    font-size: 0.5rem;
    align-self: center;
}


/* Prev week contributions */
#prjStPrevWeekCell {
    width: 50%;
    grid-area: prevweek;
}


/* Burnup chart */
#prjStBurnupCell {
    width: 50%;
    grid-area: burnup;
}

#projectViewStats {
    overflow-y: auto;
}