/* Created by Toby Tischler 09/02/2025 */
/* Updated By Toby Tischler 16/02/2025 */

/*--------------------- Project Statistics CSS ---------------------*/

#prjStContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 100%;
}

#prjStMainContentWrapper {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

#prjStContentGrid {
    display: grid;
    grid-template-areas:
    'dial dial burnup burnup burnup'
    'prevweek prevweek prevweek members members';
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 3fr 2fr;
    gap: 1rem;
    aspect-ratio: 1.8;
}

/* Containers */

.prjStCell {
    background-color: var(--light-gray-bg);
    border-radius: var(--b-radius-lg);
    padding: 1rem;
}

.prjStChartBox {
    height: 100%;
    width: 100%;
}


/* Project header */

#prjStHeaderCell {
    display: flex;
    height: 100%;
    width: 100%;
}

#prjStHeader {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    column-gap: 2rem;
    row-gap: 0.5rem;
    padding-inline: 1rem;
}

#prjStLeader {
    display: flex;
}



/* Task dial */

#prjStTaskDialCell {
    grid-area: dial;
}

#prjStTaskDialDisplay {
    height: 100%;
    overflow-y: hidden;
}

#prjStTaskDialChartBox {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 70%;
}

#prjStTaskDialPercentage {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%)
}

#prjStTaskDialLegend {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 1rem;
}

.prjStTaskDialLegendItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prjStTaskDialLegendItem p {
    font-size: small;
}

.prjStTaskDialLegendCounter {
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.prjStTaskDialLegendCounter h3 {
    margin-left: 0.2rem;
}

.prjStG{
    color: var(--green);
}

.prjStY{
    color: var(--orange);
}

.prjStGray{
    color: var(--medium-gray);
}


/* Previous week contributions graph */
#prjStPrevWeekCell {
    grid-area: prevweek;
}


/* Burnup chart */
#prjStBurnupCell {
    grid-area: burnup;
    height: 100%;
}

#prjStBurnupChartBox {
    height: 100%;
    width: 100%;
}

/* Member list */

#prjStMembersCell {
    grid-area: members;
}

#prjStMembersList {
    overflow: auto;
}

#prjStMembersList table {
    border-collapse: collapse;
}

#prjStMembersList th {
    padding-inline: 10px;
}

#prjStMembersList td {
    padding-block: 5px;
    text-align: center;
}

#prjStMembersList tbody tr:hover {
    background-color: white;
    cursor: pointer;
}

#prjStMembersLeaderRow td:first-child {
    display: flex;
    justify-content: center;
}

.fa-stack .fa-circle {
    color: black;
}

.fa-stack .fa-crown {
    color: var(--orange);
}

.fa-stack.small-stack {
    font-size: 0.5rem;
    align-self: center;
    display: inline-block;
    margin-left: 0.5rem;
}

@media (max-width: 1200px) {
    #prjStContentGrid {
        grid-template-areas:
        'dial members'
        'burnup burnup'
        'prevweek prevweek';
        aspect-ratio: 0.8;
    }

    .prjStCell {
        width: 80%;
        align-self: center;
    }
}