/* Updated by Quinn Little 03/02/25 */
/* Updated by Quinn Little 07/02/25 */
/* Updated by Toby Tischler 09/02/25


/*--------------------- General Statistics CSS ---------------------*/

/* .userStats-tr:hover {
    background-color: #d4d100;
    cursor: pointer;
} */

/* Page container */
#mgrStatsAll {
    font-family: 'Avenir Next';
    font-size: 1rem;
    --primary-colour: #000000;
    --secondary-colour: #f5f5f5;
    --tertiary-colour: #818181;
    --bg-colour: #ffffff;

    --box-border-radius: 20px;
    --line-border-radius: 10px;

    --section-gap: 20px;

    --pastel-colour-1: rgb(159, 100, 143);
    --pastel-colour-2: rgb(100, 100, 159);
    --pastel-colour-3: rgb(159, 100, 100);
    --pastel-colour-4: rgb(134, 159, 100);

    padding: var(--section-gap);

    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* HomePage Styling */
.instruction-txt {
    color: #9A9A9A;
}

/* search bar */


.stats-listing-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--secondary-colour);
    border-radius: var(--line-border-radius);
    padding-left: 10px;
    border: 0px;
    width: 25vw;
    height: fit-content;
}

.stats-search-colour {
    background-color: var(--secondary-colour);
}


/* Homepage Styles */

.statsHome-grid {
    gap: 10px;
}

/* .statsHome-table {
    width: 50%;
    height: 100%;
    border-collapse: collapse;
    justify-self: center;
    overflow-y: auto;
} */

.statsHome-table {
    overflow: auto;
    width: 100%;
    /* max-height: 38vh; */
    /* display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr)); */
}

.statsHome-table table {
    border-collapse: collapse;
    background-color: white;
    text-align: left;
    border-radius: 20px;
    justify-self: center;
    /* min-width: 100%;  */
    width: 100%;
}

.stats-title-btn-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

thead, tbody {
    white-space: nowrap;
}


.statsHome-table table thead {
    border-bottom: 1px solid black;
}

/*PADDING*/
.statsHome-table table th {
    padding: 10px;
    letter-spacing: 0.1rem;
    font-size: 0.9rem;
    font-weight: 600;
    white-space: wrap !important;
}

.statsHome-table table td {
    padding: 10px;
    font-size: 0.9rem;
}

.statsHome-table tbody tr {
    border-bottom: 2px solid #F5F5F5;
}

.statsHome-view {
    height: 100%;
    width: 100%;
}

/* HOVER */
.statsHome-table tbody tr:hover {
    background-color: #f5f5f5;
    color: black;
    cursor: pointer;
}


/* Stats Home Tab Grids */

/* Project Home Grid */
#statsHomeGridProject {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-template-areas: 'filtersHomeProj'
                         'tableHomeProj'
                         'tableHomeProj';
}

#statsHomeFiltersProj {
    grid-area: filtersHomeProj;
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#statsHomeTableProj {
    grid-area: tableHomeProj;
}


/* User Home Grid */
#statsHomeGridUser {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    grid-template-areas: 'filtersHomeUser'
                         'tableHomeUser'
                         'tableHomeUser';
}

#statsHomeFilterUser{
    grid-area: filtersHomeUser;
    justify-self: center;
}

#statsHomeTableUser {
    grid-area: tableHomeUser;
}


/* -------- Tab Styles -------- */


#mgrStatsAll button, #mgrStatsAll input {
    border: none;
    outline: none;
    border-radius: var(--line-border-radius);
    cursor: pointer;
    min-height: fit-content;
    min-width: fit-content;
    width: 100%;
    transition: 0.5s color ease, 0.5s background-color ease;
    padding: 10px;
    font-size: 1rem;
    border-radius: 10px;
}


.mgrStats-header-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--section-gap);
    justify-content: space-between;
    width: 100%;
}

#mgrStats-tabBtn {
    background-color: var(--secondary-colour);
    padding: 0px;
    white-space: nowrap;
    border-radius: var(--line-border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
}

#mgrStats-tabBtn button {
    border-radius: 0px;
}

#mgrStats-tabBtn button:first-child {
    border-top-left-radius: var(--line-border-radius);
    border-bottom-left-radius: var(--line-border-radius);
}

#mgrStats-tabBtn button:last-child {
    border-top-right-radius: var(--line-border-radius);
    border-bottom-right-radius: var(--line-border-radius);
}

#mgrStats-tabBtn button {
    background-color: transparent;
    color: var(--primary-colour);
}

#mgrStats-tabBtn button:hover {
    background-color: #9A9A9A;
}

#mgrStats-tabBtn button.mgrStats-activeTab {
    background-color: var(--primary-colour);
    color: var(--bg-colour);
}

.mgrStats-title-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.mgrStats-title-header {
    flex-grow: 1;
}

.mgrStats-title {
    color: black;
    font-size: 22px;
}


/* Tab groups */

.tabGroup {
    height: 100%;
    width: 100%;
    min-height: 0;
}

#tabGroupProjectStats {
    display: flex;
}

#tabGroupUserStats, #projectViewStats, #userViewStats {
    display: none;
}

#statsHomeFiltersUser {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
}  

#mgrStatsUser-grid-container {
    overflow-y: auto;
}