/* Created by Toby Tischler 09/02/2025 using code from statisticsContent.css */


/*--------------------- User Statistics CSS ---------------------*/
    
/* Grid container */
#mgrStatsUser-grid-container {
    display: grid;
    grid-template-areas: 'graph table1'
                         'table2 table2';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#userStats-weeklyGraph {
    grid-area: graph;
}
#userStats-projectHrsTable{
    grid-area: table1;
}
#userStats-allTasksUser {
    grid-area: table2;
    align-self: center;
    justify-self: center;
    overflow-y: auto;
    overflow-x: auto;
    height: 20rem;}

.mgrStatsUser-grid-item {
    padding: 20px;
    font-size: 1.2em;
    height: 50%;
    color: #333;
    background-color: white;
    border-radius: 30px;
}

/* Flex Box for top half of User Stats */
#userStats-Flex-Item1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height:100%;
    width: 100%;
}

.userStatsChartContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 2rem;
}


/* graph */


#userStats-weekHrsContainer{
    display: flex;
    flex-grow: 1;
    align-self: center;
    overflow-x: auto;
    overflow-y: hidden;
    padding-top: 0.5rem;
}




/* Graph styles for dropdown */
#mdContributionSortButton select option {
    font-weight: 600 !important;
}


#userStats-graphChangeButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #F5F5F5;
    background-color: white;
    border-radius: 30px;
    padding: 0.2rem 0.4rem;
    transition: all 0.4s ease;
}

#userStats-graphChangeButton:hover {
    background-color: #F5F5F5;
}

#userStats-graphChangeButton:hover select {
    background-color: #F5F5F5;
}

#userStats-graphChangeButton select {
    width: 100%;
    margin-left: 10px;
    box-shadow: none;
    outline: none;
    border-radius: 30px;
    border: none;
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    height: 40px;
    background-color: white;
    transition: all 0.4s ease;
}

#userStats-weekHrsContainer{
    display: block;
}
#userStats-overlapContainer{
    display: none;
}

#userStats-weekHrsContainerGraph{
    display: block;
}


#userStats-overlapContainerGraph {
    display: none;
}


/* Gantt Chart CSS */

  .chartMenu {
    width: 100vw;
    height: 40px;
    background: #1A1A1A;
    color: rgba(54, 162, 235, 1);
  }
  .chartMenu p {
    padding: 10px;
    font-size: 20px;
  }
  .chartCard {
    width: 100vw;
    height: calc(100vh - 40px);
    background: rgba(54, 162, 235, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .chartBox {
    width: 80%;
    padding: 20px;
    border-radius: 20px;
    border: solid 3px rgba(54, 162, 235, 1);
    background: white;
  }
