/* Generic CSS */
.kb-content, .kb-content * {
    font-family: 'Avenir Next';
    font-size: 1rem;
    --primary-colour: #000000;
    --secondary-colour: #f5f5f5;
    --tertiary-colour: #818181;
    --bg-colour: #ffffff;

    --box-border-radius: 20px;
    --line-border-radius: 10px;

    --section-gap: 20px;

    --pastel-colour-1: rgb(159, 100, 143);
    --pastel-colour-2: rgb(100, 100, 159);
    --pastel-colour-3: rgb(159, 100, 100);
    --pastel-colour-4: rgb(134, 159, 100);

    --danger-colour: #ee5555;
    --danger-colour-light: #ff6666;

    word-break: break-word;
    text-wrap: auto;
}

.kb-flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.kb-flex-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.kb-flex-wrap {
    flex-wrap: wrap;
}

.kb-content button, .kb-content input {
    border: none;
    outline: none;
    border-radius: var(--line-border-radius);
    cursor: pointer;
    min-height: fit-content;
    min-width: fit-content;
    width: fit-content;
    transition: 0.5s color ease, 0.5s background-color ease;
    padding: 10px;
}

.kb-content button {
    background-color: var(--primary-colour);
    color: var(--bg-colour);
}

.kb-content input {
    background-color: var(--bg-colour);
    color: var(--primary-colour);
}

.kb-content button:hover {
    background-color: #414141;
    color: var(--bg-colour);
}

.kb-content .red-btn {
    background-color: var(--danger-colour);
}

.kb-content .red-btn:hover {
    background-color: var(--danger-colour-light);
}

.text-center {
    text-align: center;
}

.kb-content h1, .kb-content h2 {
    font-family: "DIN Alternate Bold";
}

.kb-content h1 {
    font-size: 2rem;
}

.kb-content h2 {
    font-size: 1.5rem;
}

.kb-text-sm {
    font-size: 0.85rem;
}

.kb-modal-submission-btns {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.kb-content .modal-body {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 20px !important;
}

.kb-content .task-dropdown-select-options {
    width: 250px;
}

.kb-content .kb-wide-modal {
    width: max(600px, 50%);
}

.kb-content .task-dropdown {
    margin-bottom: 0;
}

.space-evenly {
    justify-content: space-evenly;
}

/* Section specific CSS */

.kb-header-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--section-gap);
    justify-content: space-between;
    width: 100%;
}

.post-type-btns {
    background-color: var(--secondary-colour);
    white-space: nowrap;
    border-radius: var(--line-border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-type-btns button {
    border-radius: 0px;
}

.post-type-btns button:first-child {
    border-top-left-radius: var(--line-border-radius);
    border-bottom-left-radius: var(--line-border-radius);
}

.post-type-btns button:last-child {
    border-top-right-radius: var(--line-border-radius);
    border-bottom-right-radius: var(--line-border-radius);
}

.post-type-btns button {
    background-color: transparent;
    color: var(--primary-colour);
}

.post-type-btns button:hover {
    background-color: #9A9A9A;
}

.post-type-btns button.active {
    background-color: var(--primary-colour);
    color: var(--bg-colour);
}

.kb-listing-header {
    align-items: center;
    gap: var(--section-gap);
}

.kb-listing-search {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    background-color: var(--secondary-colour);
    border-radius: var(--line-border-radius);
    padding-left: 10px;
    border: 0px;
}

.kb-listing-search input {
    background-color: transparent;
    height: 100%;
    width: 100%;
    min-width: 0;
}

#topic-searchbar{
    background-color: var(--bg-colour) ;
    width: 100%;
}

.kb-listing {
    gap: var(--section-gap);
    width: 100%;
    height: 100%;
}

.kb-posts {
    gap: var(--section-gap);
    flex-grow: 1;
    width: 100%;
    overflow-y: auto;
}

.kb-post {
    gap: 5px;
    padding: 20px;
    background-color: var(--secondary-colour);
    border-radius: var(--box-border-radius);
}

.kb-post-content-shortened {
    max-height: 70px;
    overflow: hidden;
    position: relative;
    mask-image: linear-gradient(var(--primary-colour) 0px 35px, transparent 66px);
}

.kb-post-divider {
    background-color: var(--tertiary-colour);
    height: 1px;
    min-height: 1px;
    width: 100%;
}

.kb-post-avatar {
    border-radius: 50%;
    border: 1px solid var(--primary-colour);
    width: 30px;
    height: 30px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kb-post-info {
    align-items: center;
    justify-content: start;
}

.kb-content {
    gap: var(--section-gap);
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: var(--section-gap);
}


.kb-main {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    min-height: 0;
    display: flex;
    gap: var(--section-gap);
    justify-content: space-around;
    flex-direction: row;
}

.kb-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 100%;
    gap: 10px;
    padding: 15px;
    background-color: var(--secondary-colour);
    border-radius: var(--box-border-radius);
}

.kb-topic {
    display: flex;
    border-radius: var(--line-border-radius);
    background-color: var(--bg-colour);
    padding: 10px;
    transition: 0.5s color ease, 0.5s background-color ease;
    cursor: pointer;
    user-select: none;
    align-items: center;
}

.kb-topic p {
    word-break: break-word;
    text-wrap: auto;
}

.kb-topic-circle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    aspect-ratio: 1/1;
    margin-right: 10px;
}

.kb-topic.kb-active {
    background-color: var(--primary-colour);
    color: var(--bg-colour);
}

#kb-topics-list {
    width: 100%;
    height: 100%;
}

.kb-title-header {
    flex-grow: 1;
}

.kb-badge {
    background-color: var(--primary-colour);
    color: var(--bg-colour);
    padding: 5px 9px;
    font-size: 0.85rem;
    border-radius: var(--line-border-radius);
}

.kb-share-link {
    color: var(--tertiary-colour);
    font-size: 1.2rem;
    cursor: pointer;
}

.kb-post-buttons button {
    padding: 8px 12px;
    font-size: 0.95rem;
}

.kb-full-height {
    height: 100%;
    flex-grow: 1;
}

.kb-scrollable {
    overflow-y: scroll;
}

 /* Dropdown Button */
 .kb-topic-dropdown-btn {
    padding: 16px;
    font-size: 16px;
    display: flex;
    align-items: center;
    align-content: center;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus
  .kb-topic-dropdown-btn:hover, .kb-topic-dropdown-btn:focus {
    background-color: #3e8e41;
  } */
  
  /* The search field when it gets focus/clicked on */
  /* #kb-topic-dropdown-search:focus {outline: 3px solid #ddd;} */
  
  /* The container <div> - needed to position the dropdown content */
/* .kb-topic-dropdown {
    position: relative;
    display: inline-block;
  } */
  
  /* Dropdown Content (Hidden by Default) */
.kb-topic-dropdown {
    display: none;
    position: absolute;
    flex-direction: column;
    gap: 5px;
    align-content: center;
    align-items: center;
    background-color: #f6f6f6;
    width: 250px;
    border: 2px solid #ddd;
    padding: 5px;
    z-index: 1;
    border-top: 0px;
  }
  
  /* Links inside the dropdown */
.kb-topic-dropdown a {
    color: black;
    padding: 5px;
    text-decoration: none;
    display: block;
    cursor: pointer;
  }
  
  /* Change color of dropdown links on hover */
.kb-topic-dropdown a:hover {background-color: #f1f1f1}

.topic-dropdown-topics {
    max-height: 150px;
    overflow-y: auto;
}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:flex !important;} 

.dropdown-search {
    min-width: 0 !important;
}

.topic-dropdown-topics {
    width: 100%;
    padding: 0px 10px;
}

#add-topic-modal {
    z-index: 10000;
}

.kb-markdown-container {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: none;
}

.kb-markdown-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #e1e1e1;
}

.kb-markdown-textarea {
    border: 2px solid #e1e1e1 !important;
    border-top: none !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    height: 10rem !important;
    min-height: 5rem !important;
    padding: 0.4rem 0.6rem;
    overflow-y: scroll;
}

.kb-markdown-textarea *, .kb-post-content * {
    padding: revert;
    margin: revert;
    list-style: revert;
}

.kb-markdown-textarea code, .kb-post-content code {
    font-family: revert;
}

.kb-markdown-textarea img, .kb-post-content img {
    width: auto;
    max-height: 200px;
}

.kb-markdown-btn {
    height: 100%;
    padding: 0.4rem 0.6rem;
    border: none;
    border-radius: 0;
    cursor: pointer;
    color: #000000;
}

.kb-markdown-btn.active {
    background-color: #000000;
    color: #ffffff;
}

.kb-markdown-btn:hover {
    background-color: #7A7A7A;
}

.kb-markdown-header :first-child {
    border-top-left-radius: 5px;
}



@media (max-width: 1100px) {
    .kb-sidebar {
        width: 300px;
    }
}

@media (max-width: 768px) {
    #kb-all-view {
        max-height: 100dvh;
        width: 100%;
        padding-inline: 10%;
        overflow-y: auto;
    }

    .kb-main {
        align-items: center;
        flex-direction: column-reverse;
    }
    .kb-header-section {
        flex-direction: column;
    }

    .kb-sidebar {
        margin-top: 50dvh;
        max-height: 400px;
        padding: 10px;
    }
}

@media (max-width: 500px) {
.kb-sidebar {
        margin-top: 60dvh;
       
    }
}